* {
    padding: 0;
    margin: 0;
}

html {
    font: 16px/1.5 Helvetica, sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
} 


h1 {
    font: 16/1.5 Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15em;

}



.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.3);
    border-radius: 0.3em;
    flex: 0 0 40%;
    padding: 2em;
    align-items: center;
    
    
    
}